<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<!-- <property name="hibernate.cache.use_second_level_cache">true</property> -->
		<!-- net.sf.ehcache.hibernate.EhCacheRegionFactory -->
		<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property> --> 
		
		<mapping class="com.bw.hibernate.entity.Todo"/>
		<mapping class="com.bw.hibernate.entity.TodoItem"/>
		<mapping class="com.bw.hibernate.entity.Author"/>
	</session-factory>
</hibernate-configuration>